* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --increase: hsl(163, 72%, 41%);
  --decrease: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
  --switch-grad: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text-primary);
}

#bg-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 235px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--top-bg);
  z-index: 0;
}

.dark-theme {
  --bg: hsl(230, 17%, 14%);
  --top-bg: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --card-hover: hsl(232, 26%, 27%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(228, 34%, 66%);
  --switch-bg: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

.light-theme {
  --bg: hsl(0, 0%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --card-hover: hsl(232, 33%, 91%);
  --text-primary: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
  --switch-bg: hsl(230, 22%, 74%);
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1120px;
}

.non-display {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

header h1 {
  font-size: 28px;
  margin-bottom: 0.25rem;
}

header .total {
  color: var(--text-secondary);
}

#theme-sw-wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  color: var(--text-secondary);
}

#theme-sw-wrapper > span {
  display: block;
}

#theme-switch {
  display: inline-block;
  position: relative;
  transition: background ease 0.3s;
  margin-left: 12px;
  border-radius: 12px;
  padding: 3px 4px;
  background-image: var(--switch-bg);
  background-color: var(--switch-bg);
  width: 50px;
  height: 24px;
}

#theme-switch:hover {
  background-image: var(--switch-grad);
}

#theme-switch input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

#switch-button {
  display: block;
  border-radius: 50%;
  transition: margin ease-in-out 0.3s;
  background-color: var(--card-bg);
  width: 18px;
  height: 18px;
}

#theme-switch input:checked ~ #switch-button {
  margin-left: 24px;
}

main {
  overflow: auto;
}

.dayly-overview h2 {
  font-size: 24px;
}

.card-lg-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  column-gap: 30px;
  row-gap: 25px;
  margin: 46px auto;
}

.card-lg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  transition: background ease 0.3s;
  border-radius: 5px;
  background-color: var(--card-bg);
  cursor: pointer;
  height: 215px;
  overflow: hidden;
  text-align: center;
}

.card-lg:hover {
  background-color: var(--card-hover);
}

.top-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
}

.account-info {
  display: flex;
  align-content: center;
  justify-content: center;
}

.account-name {
  align-self: center;
  margin-left: 0.5rem;
  color: var(--text-secondary);
  font-size: 12px;
}

.numbers-wrapper {
  margin: 18px auto 25px;
}

.card-lg .number {
  font-size: 54px;
}

.card-lg .unit {
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.comparison {
  font-size: 12px;
}

.arrow {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 2px;
  width: 8px;
  height: 4px;
}

.increase > .arrow {
  background-image: url(../images/icon-up.svg);
}

.decrease > .arrow {
  background-image: url(../images/icon-down.svg);
}

.card-sm-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  column-gap: 30px;
  row-gap: 25px;
  margin: 23px auto;
}

.card-sm {
  position: relative;
  transition: background ease 0.3s;
  border-radius: 5px;
  background-color: var(--card-bg);
  cursor: pointer;
  padding: 1.5rem;
  height: 125px;
}

.card-sm:hover {
  background-color: var(--card-hover);
}

.card-sm h3 {
  color: var(--text-secondary);
  font-size: 14px;
}

.card-sm .number {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  font-size: 30px;
}

.card-sm .icons {
  position: absolute;
  top: 1.5rem;
  right: 1.875rem;
}

.card-sm .comparison {
  position: absolute;
  bottom: 1.5rem;
  right: 1.875rem;
}

.icons {
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}

.facebook-icon {
  background-image: url(../images/icon-facebook.svg);
}

.twitter-icon {
  background-image: url(../images/icon-twitter.svg);
}

.instagram-icon {
  background-image: url(../images/icon-instagram.svg);
}

.youTube-icon {
  background-image: url(../images/icon-youtube.svg);
}

.facebook {
  background-color: var(--facebook);
}

.twitter {
  background-color: var(--twitter);
}

.instagram {
  background-image: var(--instagram);
}

.youTube {
  background-color: var(--youTube);
}

.increase {
  color: var(--increase);
}

.decrease {
  color: var(--decrease);
}

@media screen and (max-width: 1120px) {
  .container {
    padding: 0 1.725rem;
  }
}

@media screen and (max-width: 640px) {
  header {
    flex-direction: column;
  }

  #title-wrapper {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--text-secondary);
  }

  #theme-sw-wrapper {
    align-self: unset;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .card-lg-wrapper {
    margin-top: 1.725rem;
  }
}
