* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.dark-theme {
  --bg: hsl(230, 17%, 14%);
  --top-bg: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(228, 34%, 66%);
  --switch-bg: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
}

.light-theme {
  --bg: hsl(0, 0%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-primary: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
  --switch-bg: hsl(230, 22%, 74%);
}

.increase {
  color: hsl(163, 72%, 41%);
}

.decrease {
  color: hsl(356, 69%, 56%);
}

.facebook {
  background-color: hsl(208, 92%, 53%);
}

.twitter {
  background-color: hsl(203, 89%, 53%);
}

.instagram {
  background-color: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
}

.youTube {
  background-color: hsl(348, 97%, 39%);
}
